<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myproject">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNewThemeToBeTested">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".email.EmailActivity"
            android:label="Email" />
        <activity
            android:name=".favorite.FavoriteActivity"
            android:label="Favorite" />
        <activity
            android:name=".video.VideoActivity"
            android:label="Tutorial Videos" />
        <activity
            android:name=".spelling.SpellActivity"
            android:label="Spelling " />
        <activity
            android:name=".quiz.quizActivity"
            android:label="Quiz" />
        <activity
            android:name=".grammar.grammarActivity"
            android:label="Grammar" />
        <activity
            android:name=".reading.readingActivity"
            android:label="Reading" />
        <activity
            android:name=".expressingMistakes.MistakesActivity"
            android:label="Expressing Mistakes" />
        <activity
            android:name=".describingPeople.DescribingPeople"
            android:label="Describing People" />
        <activity
            android:name=".phrasesAnimals.animalCategoryFragmentOne"
            android:label="Phrases involving animals" />
        <activity
            android:name=".business.Business"
            android:label="Business" />
        <activity
            android:name=".exclamation.ExclamationCategoryFragmentOne"
            android:label="Exclamation" />
        <activity
            android:name=".abbreviations.AbbreviationsCategoryFragmentOne"
            android:label="Abbreviations" />
        <activity
            android:name=".proverbs.proverbsActivity"
            android:label="Proverbs" />
        <activity
            android:name=".aboutFood.AboutFoodCategoryFragmentOne"
            android:label="Phrases About Food" />
        <activity
            android:name=".quiz.BeginnerQuizActivity"
            android:label="Beginner quiz" />
        <activity
            android:name=".quiz.SimpleQuizActivity"
            android:label="Simple quiz" />
        <activity
            android:name=".expressingMistakes.MistakesHolder"
            android:label="Expressing Mistakes" />
        <activity
            android:name=".describingPeople.PeopleHolder"
            android:label="Describing People" />
        <activity
            android:name=".reading.readingHolder"
            android:label="Reading" />
        <activity
            android:name=".grammar.grammarHolder"
            android:label="Grammar" />
        <activity
            android:name=".phrasesAnimals.animalHolder"
            android:label="Phrases involving animals" />
        <activity
            android:name=".abbreviations.AbbreviationsHolder"
            android:label="Abbreviations" />
        <activity
            android:name=".aboutFood.FoodHolder"
            android:label="Phrases About Food" />
        <activity
            android:name=".business.BusinessHolder"
            android:label="Business" />
        <activity
            android:name=".proverbs.proverbsHolder"
            android:label="Proverbs" />
        <activity
            android:name=".exclamation.ExclamationHolder"
            android:label="Exclamation" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>